<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A CRUD solution</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1> Item Inventory</h1>
    <div class="items">
        <p>Id</p>
        <p>Item Name</p>
        <p>Price</p>
        <p>Quatity</p>
    </div>
    <div>
    <button>add</button>
    <button>update</button>
    <button>delete</button>
    </div>
</body>
</html>