<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A CRUD solution</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1> Items Inventory</h1>
    <form action="/api/item" method="post">
        <h2>Add Item</h2>
        <input id="iname", type="text", name="items", placeholder="Item name"/>
        <input type="submit", value="submit">
    </form>
    <form action="/api/item/inventory" method="post">
        <h2> Add Inventory</h2>
        <input id="iid", type="text", name="items_id", placeholder="Id"/>
        <input id="pri", type="text", name="price", placeholder="Price"/>
        <input id="qua", type="text", name="quantity", placeholder="Quantity"/>
        <input type="submit", value="submit"/>
    </form>
</body>
</html>